* {
    box-sizing: border-box;
}
body {
    background-color: #fce1e0;
    color: black;
}

header {
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 300;  
    /* color: #f03f35; */
    background-color: #fce1e0;
}
h1{
    font-size: 50px;
    letter-spacing: .2rem;
}
#tagline{
    font-size: 20px;
    letter-spacing: .05rem;
}
#openModal, #modal-textbox{
    font-family: 'Montserrat', sans-serif;    
    font-weight: bold;
    font-size: 20px;
}
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}
#modal-textbox {
    background-color: #69ecee;
	height: 300px;
	width: 500px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}
#description{
    /* border: 2px solid black; */
    margin: 20px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
}
.bold {
    font-weight: bold;
}
footer {
    /* border: 2px solid black; */
    margin: 20px;
    text-align: center;
    height: 10vh;
    font-family: 'Montserrat', sans-serif;    
    font-size: 20px;
}
#first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eighth, #ninth {
    border: 2px solid black;
    margin: 50px 150px;
    padding: 10px;
    transition: 0.3s ease-in-out;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
}
form {
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
}
legend {
    font-size: 20px;
}
img {
    max-width: 100%
}  
#first:hover {
    background-color: rgb(122, 119, 119);
    color: white;
}
#second:hover {
    background-color: rgb(122, 119, 119);
    color: white;
}
#third:hover {
    background-color: rgb(122, 119, 119);
    color: white;
}
#fourth:hover {
    background-color: rgb(122, 119, 119);
    color: white;
}
#fifth:hover {
    background-color: rgb(122, 119, 119);
    color: white;
}
#sixth:hover {
    background-color: rgb(122, 119, 119);
    color: white;
}
#seventh:hover {
    background-color: rgb(122, 119, 119);
    color: white;
}
#eighth:hover {
    background-color: rgb(122, 119, 119);
    color: white;
}
#ninth:hover {
    background-color: rgb(122, 119, 119);
    color: white;
}
.picture-container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  .carousel-images {
    width: 50%;
    /* background: #fa8d8e; */
    padding: 10px;
    border-radius: 50px;
    box-sizing: border-box;
  }
  .carousel-images img {
    width: 100%;
    border-radius: 10px;
  }

  .carousel-button {
    align-self: center;
    background: rgb(117, 114, 114);
    color: #888;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px white;
  }
  .carousel-button:hover {
    cursor: pointer;
  }
.lnr {
    color: white;
}

@media (min-width: 800px) {
    #wrapper {
        display: flex;
    }
    .first-line, .second-line, .third-line{
        flex-basis: 30%;
    }
    #first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eighth, #ninth{
        /* flex-wrap: wrap; */
        margin: 20px;
    }
    
}