* {
    box-sizing: border-box;
}
body {
    background-color: rgb(189, 245, 189) 
    /* linear-gradient(45deg, rgb(238, 170, 252),
     rgb(111, 119, 238), rgb(255, 255, 177) ); */
}

header {
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    font-family: 'Arvo', serif;
    color: white;
    background-color: rgb(175, 118, 118);
}
h1{
    font-size: 40px;
}
#openModal, #modal-textbox{
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 20px;
}
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}
#modal-textbox {
	background-color: rgb(219, 253, 219);
	height: 300px;
	width: 600px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#description{
    /* border: 2px solid black; */
    margin: 20px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
}
.bold {
    font-weight: bold;
}
footer {
    /* border: 2px solid black; */
    margin: 20px;
    text-align: center;
    height: 10vh;
    font-family: 'Arvo', serif;
    font-size: 20px;
}
#first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eighth, #ninth {
    border: 2px solid black;
    margin: 50px 150px;
    padding: 10px;
    transition: 0.3s ease-in-out;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
}
form {
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
}
legend {
    font-size: 20px;
}
img {
    max-width: 100%
}  
#first:hover {
    background-color: rgb(207, 207, 207);
}
#second:hover {
    background-color: rgb(207, 207, 207);
}
#third:hover {
    background-color: rgb(207, 207, 207);
}
#fourth:hover {
    background-color: rgb(207, 207, 207);
}
#fifth:hover {
    background-color: rgb(207, 207, 207);
}
#sixth:hover {
    background-color: rgb(207, 207, 207);
}
#seventh:hover {
    background-color: rgb(207, 207, 207);
}
#eighth:hover {
    background-color: rgb(207, 207, 207);
}
#ninth:hover {
    background-color: rgb(207, 207, 207);
}
.picture-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  .carousel-images {
    width: 80%;
    /* background: #fa8d8e; */
    padding: 10px;
    border-radius: 50px;
    box-sizing: border-box;
  }
  .carousel-images img {
    width: 100%;
    border-radius: 10px;
  }

  .carousel-button {
    align-self: center;
    background: black;
    color: #888;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px white;
  }

@media (min-width: 800px) {
    #wrapper {
        display: flex;
    }
    .first-line, .second-line, .third-line{
        flex-basis: 30%;
    }
    #first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eighth, #ninth{
        /* flex-wrap: wrap; */
        margin: 20px;
    }
    
}